.header-side-bar{
    width: 75%;
    background-color: #FFFFFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 92vh;
}
.report-color{
    color: #C7C7C6;
}
.report-btn{
    background-color: #C7C7C6;
}